<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menuPreviewModal">
    <div aria-hidden="true" aria-labelledby="menuPreviewModalLabel"
         class="modal fade" data-bs-backdrop="static"
         data-bs-keyboard="false" id="menuPreviewModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="menuPreviewModalLabel">메뉴 미리보기</h1>
                    <button class="btn-close btn-lg" data-bs-dismiss="modal" id="menuPreviewModalCloseBtn"
                            type="button"></button>
                </div>
                <div class="modal-body pt-0 px-0">
                    <div class="card pt-3 mb-3">
                        <div class="card-body">
                            <h2>[[${menuVO.menuTitle}]]</h2>
                            <div>[[${menuVO.menuExplanation}]]</div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-title d-flex justify-content-between px-3 pt-3 pb-0">
                            <h5>가격</h5>
                            <div>[[${#numbers.formatInteger(menuVO.menuPrice, 3, 'COMMA')}]]원</div>
                        </div>
                    </div>
                    <div class="card mb-3" th:each="menuOptionGroupVO : ${menuVO.menuOptionGroupVOS}">
                        <div class="card-title d-flex justify-content-between px-3 position-relative"
                             th:classappend="${menuOptionGroupVO.menuOptionGroupRequired == 'Y' ? '' : 'mb-3'}">
                            <h5>[[${menuOptionGroupVO.menuOptionGroupTitle}]]</h5>
                            <div>
                                <span
                                        class="badge rounded-pill"
                                        th:classappend="${menuOptionGroupVO.menuOptionGroupRequired == 'Y' ? 'text-bg-primary' : 'text-bg-secondary'}">[[${menuOptionGroupVO.menuOptionGroupRequired == 'Y' ? '필수' : '선택'}]]
                                </span>
                            </div>
                            <div class="position-absolute bottom-0 fs-0-8 text-gray"
                                 th:if="${menuOptionGroupVO.menuOptionGroupRequired == 'N'}">최대
                                [[${menuOptionGroupVO.menuOptionGroupMaxSelect}]]개 선택
                            </div>
                        </div>
                        <div class="card-body d-flex justify-content-between"
                             th:each="menuOptionVO : ${menuOptionGroupVO.menuOptionVOList}">
                            <div>[[${menuOptionVO.menuOptionTitle}]]</div>
                            <div>[[${#numbers.formatInteger(menuOptionVO.menuOptionPrice, 3, 'COMMA')}]]원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>