<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/mainDefaultLayout}">
<body>
<th:block layout:fragment="content">
    <script src="/js/owner/profile/ownerPassword.js"></script>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/owner/main">Home</a></li>
                    <li class="breadcrumb-item">사장님 정보</li>
                    <li class="breadcrumb-item active">비밀번호 변경</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-change-password">비밀번호 변경
                                </button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form id="frm">

                                    <div class="row mb-3">
                                        <label for="userPwd" class="col-md-4 col-lg-3 col-form-label">현재
                                            비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="userPwd" type="password" class="form-control"
                                                   id="userPwd">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPwd" class="col-md-4 col-lg-3 col-form-label">새 비밀번호
                                        </label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newPwd" type="password" class="form-control"
                                                   id="newPwd">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="reNewPwd" class="col-md-4 col-lg-3 col-form-label">새 비밀번호 확인
                                        </label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="reNewPwd" type="password" class="form-control"
                                                   id="reNewPwd">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" onclick="fn_submit()">변경하기
                                        </button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
            </div>
        </section>

    </main><!-- End #main -->

</th:block>
</body>
</html>