<!DOCTYPE html>
<html
        layout:decorate="~{layout/mainDefaultLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <script src="/js/jquery/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/owner/menu/menuInfo.js"></script>
    <main class="main" id="main">
        <div class="pagetitle">
            <h1>메뉴 관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/owner/main">Home</a></li>
                    <li class="breadcrumb-item">메뉴 정보</li>
                    <li class="breadcrumb-item active">메뉴 관리</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section profile">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-target="#menuConfig"
                                            data-bs-toggle="tab">
                                        메뉴 설정
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" data-bs-target="#optionConfig" data-bs-toggle="tab">옵션 설정
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <!-- 메뉴 설정 S -->
                            <div class="tab-pane fade show active " id="menuConfig">
                                <div class="float-end d-flex mb-3">
                                    <button class="btn btn-primary d-flex align-items-center me-2"
                                            data-bs-target="#menuGroupOrderModal"
                                            data-bs-toggle="modal" th:if="${!#lists.isEmpty(menuGroupVOList)}"
                                            type="button">
                                        <div class="icon d-flex align-items-center fs-5 pe-1">
                                            <i class="bx bx-move"></i>
                                        </div>
                                        <div>메뉴그룹 순서변경</div>
                                    </button>
                                    <button class="btn btn-primary d-flex align-items-center"
                                            data-bs-target="#menuGroupModal"
                                            data-bs-toggle="modal" type="button">
                                        <div class="icon d-flex align-items-center fs-5 pe-1">
                                            <i class="bx bxs-book-content"></i>
                                        </div>
                                        <div>메뉴그룹 추가</div>
                                    </button>
                                </div>

                                <!-- 메뉴그룹 추가 모달 S -->
                                <th:block th:replace="~{/fragments/owner/menu/menuGroupModal}"></th:block>
                                <!-- 메뉴그룹 추가 모달 E -->

                                <!-- 메뉴그룹 순서변경 모달 S -->
                                <th:block th:replace="~{/fragments/owner/menu/menuGroupReOrderModal}"></th:block>
                                <!-- 메뉴그룹 순서변경 모달 E -->

                                <!-- 메뉴 연결 모달 S -->
                                <div id="optionGroupConnectModalWrapper"></div>
                                <!-- 메뉴 연결 모달 E -->

                                <div class="card clear">
                                    <!-- 메뉴가 있는 경우 S -->
                                    <div class="card-body" th:if="${!#lists.isEmpty(menuGroupVOList)}">
                                        <div class="card-title float-end d-block d-sm-none">
                                            <div class="d-flex align-items-center">
                                                <div class="icon d-flex align-items-center pe-1">
                                                    <i class="bx bxs-pencil"></i>
                                                </div>
                                                <div class="pe-1">: 수정</div>
                                                <div class="icon d-flex align-items-center pe-1">
                                                    <i class="bx bx-trash"></i>
                                                </div>
                                                <div class="pe-1">: 삭제</div>
                                                <div class="icon d-flex align-items-center pe-1">
                                                    <i class="bx bxs-plus-circle"></i>
                                                </div>
                                                <div>: 메뉴 추가</div>
                                            </div>
                                        </div>

                                        <!-- 메뉴 순서변경 모달 S -->
                                        <th:block th:replace="~{/fragments/owner/menu/menuReOrderModal}"></th:block>
                                        <!-- 메뉴 순서변경 모달 E -->

                                        <!-- 메뉴 추가/수정 모달 S -->
                                        <th:block th:replace="~{/fragments/owner/menu/menuModal}"></th:block>
                                        <!-- 메뉴 추가/수정 모달 E -->

                                        <!-- 메뉴 미리보기 모달 S -->
                                        <div id="menuPreviewModalWrapper"></div>
                                        <!-- 메뉴 미리보기 모달 E -->

                                        <!-- 메뉴 그룹 미리보기 모달 S -->
                                        <div id="menuGroupPreviewModalWrapper"></div>
                                        <!-- 메뉴 그룹 미리보기 모달 E -->

                                        <div class="accordion mt-5 clear position-relative">
                                            <form id="menuRemoveFrm">
                                                <input id="menuRemoveId" name="menuId" type="hidden">
                                                <input id="menuGroupRemoveId" name="menuGroupId" type="hidden">
                                            </form>
                                            <div class="accordion-item" th:each="menuGroupVO : ${menuGroupVOList}">
                                                <h2 class="accordion-header d-flex position-relative"
                                                    th:style="${'z-index : ' + (menuGroupVOStat.size - menuGroupVOStat.index)}">
                                                    <button class="accordion-button align-items-center position-relative"
                                                            data-bs-toggle="collapse"
                                                            th:data-bs-target="${'#menu' + menuGroupVOStat.count}"
                                                            type="button">
                                                        [[${menuGroupVO.getMenuGroupTitle()}]]
                                                        <h5 class="mb-0 ms-2">
                                                            <span class="badge rounded-pill text-bg-primary">
                                                                [[${menuGroupVO.menuGroupExposure == 'Y' ? '노출' : '비노출'}]]
                                                            </span>
                                                        </h5>
                                                    </button>
                                                    <div class="dropdown position-absolute top-50 end-0 translate-middle-y me-5rem menu-group-option"
                                                         style="z-index: 2">
                                                        <a aria-expanded="false"
                                                           class="btn btn-primary btn-sm dropdown-toggle d-flex align-items-center"
                                                           data-bs-display="static"
                                                           data-bs-toggle="dropdown"
                                                           role="button">
                                                            <div class="icon d-flex align-items-center pe-1">
                                                                <i class="bx bxs-cog"></i>
                                                            </div>
                                                            <div> 옵션</div>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menu-group-preview"
                                                                     th:data-id="${menuGroupVO.id}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx bxs-mask"></i>
                                                                    </div>
                                                                    <div>미리보기</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menu-group-edit"
                                                                     th:data-id="${menuGroupVO.id}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx bxs-pencil"></i>
                                                                    </div>
                                                                    <div>수정</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menu-group-delete"
                                                                     th:data-id="${menuGroupVO.id}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx bx-trash"></i>
                                                                    </div>
                                                                    <div>삭제</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menuAddBtn"
                                                                     th:data-id="${menuGroupVO.id}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx  bxs-purchase-tag"></i>
                                                                    </div>
                                                                    <div>메뉴 추가</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menuReOrderBtn"
                                                                     th:data-id="${menuGroupVO.id}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx bx-move"></i>
                                                                    </div>
                                                                    <div>메뉴 순서변경</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </h2>
                                                <div class="accordion-collapse collapse show"
                                                     th:id="${'menu' + menuGroupVOStat.count}">
                                                    <div class="accordion-body not-last-border-bottom mx-3 position-relative d-flex align-items-center"
                                                         th:each="menuVO :  ${menuGroupVO.getMenuVOList()}">
                                                        <div>[[${menuVO.menuTitle}]]
                                                            ([[${#numbers.formatInteger(menuVO.menuPrice, 3,
                                                            'COMMA')}]]원)
                                                        </div>
                                                        <div>
                                                            <span class="badge rounded-pill text-bg-success ms-2">[[${menuVO.menuExposure == 'Y' ? '노출' : '비노출'}]]</span>
                                                        </div>
                                                        <div class="dropdown ms-auto">
                                                            <button aria-expanded="false"
                                                                    class="btn btn-success btn-sm dropdown-toggle d-flex align-items-center"
                                                                    data-bs-toggle="dropdown"
                                                                    type="button">
                                                                <div class="icon d-flex align-items-center pe-1">
                                                                    <i class="bx bxs-cog"></i>
                                                                </div>
                                                                <div> 옵션</div>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <button class="btn d-flex align-items-center w-100 menu-preview"
                                                                            th:data-id="${menuVO.menuId}">
                                                                        <div class="icon d-flex align-items-center pe-2 text-success">
                                                                            <i class="bx bxs-mask"></i>
                                                                        </div>
                                                                        <div>미리보기</div>
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button class="btn d-flex align-items-center w-100 menu-edit"
                                                                            th:data-id="${menuVO.menuId}">
                                                                        <div class="icon d-flex align-items-center pe-2 text-success">
                                                                            <i class="bx bxs-pencil"></i>
                                                                        </div>
                                                                        <div>수정</div>
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button class="btn d-flex align-items-center w-100 menu-remove"
                                                                            th:data-id="${menuVO.menuId}">
                                                                        <div class="icon d-flex align-items-center pe-2 text-success">
                                                                            <i class="bx bx-trash"></i>
                                                                        </div>
                                                                        <div>삭제</div>
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button class="btn d-flex align-items-center w-100 menu-add-option-group"
                                                                            th:data-id="${menuVO.menuId}">
                                                                        <div class="icon d-flex align-items-center pe-2 text-success">
                                                                            <i class="bx  bxs-purchase-tag"></i>
                                                                        </div>
                                                                        <div>옵션그룹 연결</div>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!--  TODO : 메뉴 설명 ui 추가하기 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 메뉴가 있는 경우 E -->

                                    <!-- 메뉴가 없는 경우 S -->
                                    <div class="card-body text-center py-5 fs-2"
                                         th:if="${#lists.isEmpty(menuGroupVOList)}">
                                        <div>
                                            <div class="icon"
                                                 style="font-size: 6rem;">
                                                <i class="ri  ri-file-excel-line"></i>
                                            </div>
                                            <div>
                                                등록된 메뉴가 없습니다.
                                            </div>
                                        </div>

                                    </div>
                                    <!-- 메뉴가 없는 경우 E -->
                                </div>
                            </div>
                            <!-- 메뉴 설정 E -->
                            <!-- 옵션 설정 S -->
                            <div class="tab-pane fade show" id="optionConfig">
                                <div class="float-end d-flex mb-3">
                                    <button class="btn btn-primary d-flex align-items-center"
                                            data-bs-target="#menuOptionGroupModal"
                                            data-bs-toggle="modal" type="button">
                                        <div class="icon d-flex align-items-center fs-5 pe-1">
                                            <i class="bx bxs-file-plus"></i>
                                        </div>
                                        <div>옵션 추가</div>
                                    </button>
                                </div>

                                <!-- 옵션 추가/수정 모달 S -->
                                <th:block th:replace="~{/fragments/owner/menu/menuOptionModal}"></th:block>
                                <!-- 옵션 추가/수정 모달 E -->

                                <div class="card clear">
                                    <!-- 옵션이 있는 경우 S -->
                                    <div class="card-body" th:if="${!#lists.isEmpty(menuOptionGroupVOList)}">
                                        <div class="accordion mt-5 ">
                                            <form id="menuOptionGroupFrm">
                                                <input id="menuOptionGroupIdToRemove" name="menuOptionGroupId"
                                                       type="hidden">
                                            </form>
                                            <div class="accordion-item"
                                                 th:each="menuOptionGroupVO : ${menuOptionGroupVOList}">
                                                <h2 class="accordion-header position-relative"
                                                    th:style="${'z-index : ' + (menuOptionGroupVOStat.size - menuOptionGroupVOStat.index)}">
                                                    <button class="accordion-button" data-bs-toggle="collapse"
                                                            th:data-bs-target="${'#menuOptionGroup' + menuOptionGroupVOStat.count}"
                                                            th:utext="${menuOptionGroupVO.menuOptionGroupTitle} + '<h5 class=&quot;mb-0 ms-2&quot;><span class=&quot;badge rounded-pill text-bg-primary&quot;>' + ${menuOptionGroupVO.menuOptionGroupRequired == 'Y' ? '필수' : '선택'} + ', ' + ${menuOptionGroupVO.menuOptionGroupMaxSelect} + '개</span></h5>'"
                                                            type="button">
                                                    </button>
                                                    <div class="dropdown position-absolute top-50 end-0 translate-middle-y me-5rem menu-option-group-option"
                                                         style="z-index: 2">
                                                        <a aria-expanded="false"
                                                           class="btn btn-primary btn-sm dropdown-toggle d-flex align-items-center"
                                                           data-bs-display="static"
                                                           data-bs-toggle="dropdown"
                                                           role="button">
                                                            <div class="icon d-flex align-items-center pe-1">
                                                                <i class="bx bxs-cog"></i>
                                                            </div>
                                                            <div> 옵션</div>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menu-option-group-edit"
                                                                     th:data-id="${menuOptionGroupVO.menuOptionGroupId}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx bxs-pencil"></i>
                                                                    </div>
                                                                    <div>수정</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="btn d-flex align-items-center w-100 menu-option-group-delete"
                                                                     th:data-id="${menuOptionGroupVO.menuOptionGroupId}">
                                                                    <div class="icon d-flex align-items-center pe-2 text-primary">
                                                                        <i class="bx bx-trash"></i>
                                                                    </div>
                                                                    <div>삭제</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </h2>
                                                <div class="accordion-collapse collapse show"
                                                     th:id="'menuOptionGroup' + ${menuOptionGroupVOStat.count}">
                                                    <div class="accordion-body not-last-border-bottom mx-3"
                                                         th:each="menuOptionVO : ${menuOptionGroupVO.menuOptionVOList}"
                                                         th:text="${menuOptionVO.menuOptionTitle} + ' (' + ${#numbers.formatInteger(menuOptionVO.menuOptionPrice, 3, 'COMMA')} + '원)'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 옵션이 있는 경우 E -->
                                    <!-- 옵션이 없는 경우 S -->
                                    <div class="card-body text-center py-5 fs-2"
                                         th:if="${#lists.isEmpty(menuOptionGroupVOList)}">
                                        <div>
                                            <div class="icon"
                                                 style="font-size: 6rem;">
                                                <i class="ri  ri-file-excel-line"></i>
                                            </div>
                                            <div>
                                                등록된 옵션이 없습니다.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 옵션이 없는 경우 E -->
                                </div>
                            </div>
                            <!-- 옵션 설정 E -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</th:block>
</body>
</html>